@mixin reponsive($screen) {
  // map: duyệt mảng
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Không tìm thấy!";
  }
}
@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

@mixin navigation() {
  text-decoration: none;
  margin: 0px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  &::before,
  &::after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #f2792a;
    content: "";
    opacity: 0;
    transition: all 0.4s;
  }
  &::before {
    top: 0px;
    transform: translateY(10px);
  }
  &::after {
    bottom: 0px;
    transform: translateY(-10px);
  }
}

@mixin styleText($fs, $fw, $color) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}
@mixin reponsiveMax($screen) {
  // map: duyệt mảng
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Không tìm thấy!";
  }
}
@mixin reponsiveMin($screen) {
  // map: duyệt mảng
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Không tìm thấy!";
  }
}
@mixin between-sizes($lower, $upper) {
  //Kiểm tra breakpoint truyền vào có tồn tại như bạn đã định nghĩa hay không.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    // Lấy giá trị pixel breakpoint đó
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    //Build media query tự động
    @media screen and (min-width: $lower-breakpoint) and (max-width: $upper-breakpoint) {
      @content;
    }
  } @else {
    //Build media query tự động
    @media screen and (min-width: $lower) and (max-width: $upper) {
      @content;
    }
  }
}
