.chooseSeat {
  height: 968px;
  .seat__title {
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    width: 103%;
    height: 80px;
    .marginTitle {
      @media screen and (max-width: 992px) {
        margin-top: 4px;
      }
    }
    .choose {
      color: red;
    }
    .title {
      margin-bottom: 1px;
      @media screen and (max-width: 576px) {
        font-size: 13px !important;
        display: block;
      }
      @media screen and (max-width: 520px) {
        margin-left: 34px;
      }
      @media screen and (min-width: 576px) and (max-width: 992px) {
        font-size: 14px !important;
      }
      .backHome {
        font-style: italic;
        transition: all 0.3s;
        &:hover {
          color: #ff0000;
        }
      }
    }
  }
  .chooseSeat__datghe {
    line-height: 1;
    font-size: 29px;
    color: #fb4226;
    text-align: center;
    font-weight: 600;
  }
  .chooseSeat__time {
    .title {
      line-height: 0;
      font-size: 13px;
      color: #9b9b9b;
      text-align: center;
    }
  }
  .chooseSeat__info {
    padding: 0 100px;
    font-weight: 500;
    @media screen and (max-width: 992px) {
      padding: 0;
    }
    .logoRap {
      width: 60px !important;
      @media screen and (max-width: 992px) {
        width: 25% !important;
      }
    }

    .ghe {
      .btnGhe,
      .btnGheVip {
        font-size: 12px;
        color: white;
        font-weight: bold;
        border: none;
        width: 38px;
        height: 41px;
        background-color: #e03f0d;
        margin: 8px 2px;
        border-radius: 7px;
        outline: none;
        @media screen and (max-width: 992px) {
          width: 32px;
          height: 35px;
        }
      }
    }
    img {
      width: 35%;
    }
    .bookGhe {
      @media screen and (max-width: 576px) {
        margin-left: 20px !important;
      }
    }
    .thongTinRap {
      font-size: 13px !important;
    }
  }
  .chooseSeat__screen {
    img {
      width: 97%;
    }
  }

  .chooseSeat__pay {
    position: relative;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    .infoCustomer {
      input {
        border: none;
        outline: none;
      }
    }
    .end {
      position: absolute;
      top: 90%;

      @media screen and (min-width: 768px) and (max-width: 992px) {
        // position: absolute;
        top: 84%;
      }
      @media screen and (max-width: 768px) {
        position: absolute;
        top: 110%;
        // bottom: -20%;
      }
      p {
        font-size: 14px !important;
        @media screen and (max-width: 992px) {
          font-size: 13px !important;
        }
      }
    }
    .pay {
      img {
        width: 35px;
      }
    }
    .price {
      font-size: 50px;
      color: #44c020 !important;
      @media screen and (max-width: 992px) {
        font-size: 36px !important;
      }
    }
    .infoFilm {
      font-size: 15px !important;
    }
    .btnDatVe {
      position: absolute;
      top: 85%;
      width: 80% !important;
      margin: 0 auto;
      outline: none;
      @media screen and (max-width: 992px) {
        top: 79%;
      }
      @media screen and (max-width: 768px) {
        top: 102%;
      }
    }
  }
}

.chooseSeat__Note {
  font-weight: 500;
  padding: 0 150px;
  margin: 30px 0;
  @media screen and (max-width: 992px) {
    font-size: 14px !important;
    padding: 0 60px;
    margin-left: 60px;
  }
  .status_gheTrong {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background: #ec7532;
  }
  .status_gheDangChon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: yellow;
  }
  .status_gheDaChon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.575);
  }
  .status_gheKhongDuocChon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: gray;
  }
}

// Style image Combo Popcorn and Water
.imgComboPopcornWater {
  img {
    width: 40px !important;
  }
  input {
    border: 1px solid #ec7532;
    text-align: center;
  }
}
